* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 90px;
    background-color: #1f2937;
    flex: 1;
}

.header ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.logo {
    width: 50px;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.hero {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 30px;
    padding: 90px;
    flex-wrap: wrap;
}

.hero .left-pane {
    display: flex;
    flex: 1;
    min-width: 300px;
    gap: 15px;
    flex-wrap: wrap;
    max-width: 600px;
}

.hero .right-pane {
    flex-shrink: 1;
}

.hero .main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero .secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero img {
    width: 500px;
    max-width: 500px;
}

.hero button {
 background-color: #3882F6;
 color: white;
 padding: 10px 25px;
 border-radius: 10px;
 border: transparent;
 font-weight: 900;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.main .information-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding-top: 20px;
}

.main .cards {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 40px;
    flex-wrap: wrap;
    flex: 1;
    padding: 5px;
}

.card {
    width: 200px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    border: 2px solid blue;
    border-radius: 10px;
}

.card p {
    text-align: center;
    padding: 10px 0 30px;
}


.extra-content {
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 160px 80px;
}

.extra-content .quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.extra-content .author {
    align-self: flex-end;
    font-weight: 1000;
}

.call-to-action {
    background-color: white;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 70px 10px;
}

.cta-container {
    display: flex;
    background-color: #3882F6;
    padding: 50px 100px;
    justify-content: space-around;
    align-items: center;
    gap: 200px;
    color: white;
    border-radius: 8px;
    flex-wrap: wrap;
}

.cta-button button {
    border: 2px solid white;
    border-radius: 8px;
    padding: 5px 25px;
    color: white;
    background-color: #3882F6;
}

footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px;
}